@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

nav{
    /* background: pink; */
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0 120px;
    position:absolute;
    top:0;
    z-index: 100;
    background: white;
}

nav .left{
    /* background: red; */
    display: flex;
    align-items: center;
}

nav .left ul{
    list-style: none;
    display: flex;
    padding-left: 50px;
    color: black
   
}
nav .left ul li{
    padding-left: 20px;
    text-transform: uppercase;
    /* text-shadow: 4px 4px 6px black;  */
    font-weight: 300;
    font-size: 12px;
   
}


.hero{
    height: 100vh;
    background: url('room.jpg') no-repeat center/cover;
}
nav  h3{
   
        color: grey;
        /* text-shadow: 4px 4px 6px black; */
        font-size: 32px;
    
}


.parallax {
    position:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}


.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    z-index: 0;
}

.sec {
    position: relative;
    background: #ffffff;
    width: 100%;
    height: 500px;
}

h2{
    
        position: absolute;
        top: -20;
        font-size: 4em;
        color: #fff;
        text-shadow: 4px 4px 6px rgb(0, 0, 0);
        text-transform: uppercase;
        z-index: 0;
    
}

.cards{
    /* background: pink; */
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
  

}
.card{
    padding: 20px 40px;
}

.card img{
    width: 400px;
}
.card .image{
    /* background: red; */
}
.card .contents{
    /* background: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 35px;
}

/* banner */
.bannersection{
  
    padding: 0 40px;
    z-index: 2;
}
.banner{
   
    width: 100%;
    height: 420px;
   
    background: url('tedbaker.jpg') no-repeat center/cover; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}